{{ define "header.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <meta charset="UTF-8">
    <title>Merit Money</title>
</head>
<body>
<h1>Merit Money</h1>
<div>
    <a href="last.gohtml">Last Rewards</a> /
    <a href="give.gohtml">Give</a> /
    <a href="about.gohtml">About</a>
</div>
{{ end }}

{{ define "footer.tmpl" }}
</body>
</html>
{{ end }}